body{
    background: rgb(255, 255, 0);
}
.titulo{
    color: green;
    background: rgb(245, 244, 235);
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titulo-img{
    display: inline-block;
    width: 100px;
    padding-right: auto;
}
.titulo-pao-puro{
    text-decoration: none;
    color: black;
}
.titulo-cor{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.texto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 190px;
    margin-right: 190px;
    padding: 65px;
    background: rgb(245, 244, 235);
    color: rgb(000,000,000);
    font-size: 20px
}
.alinhamento-pao{
    display: flex;
    justify-content: flex-start;
    margin-left: 320px;
}
.img-pao{
    height: 300px;
    width: 300px;
    margin-right: 100px;
}
.alinhamento-img-pao{
    display: inline-flex;
    align-items: flex-start;
    margin: 0px auto 10px 190px;
}
.descricao-img-pao{
    background: rgb(245, 244, 235);
    font-size: 20px;
    margin-right: 190px;
    margin-top: 50px;
    padding: 50px;
}
.alinhamento-preco-pao{
    display: flex;
    justify-content: start;
    margin-left: 275px;
}
.alinhamento-sonho{
    display: flex;
    justify-content: flex-end;
    margin-right: 310px;
}
.img-sonho{
    height: 300px;
    width: 300px;
    margin-left: 100px;

}
.alinhamento-img-sonho{
    display:  flex;
    justify-content: flex-end;
    margin-right: 190px;
    margin-bottom: 10px;
}
.descricao-img-sonho{
    background: rgb(245, 244, 235);
    font-size: 20px;
    padding: 60px;
    margin-left: 190px;
    margin-top: 50px;
    margin-bottom: 50px ;
}
.alinhamento-preco-sonho{
    display: flex;
    justify-content: flex-end;
    margin-right: 270px;
}